$ui-boost-color: $ui-highlight-color !default;

@import 'application.scss';

.compose-form .button {
  text-transform: none;
}

.getting-started.static-content {
  padding-bottom: 310px;
}

.landing-page .header-wrapper .mascot {
  bottom: -16px;
  left: 90px;
}
