.compose-form .button {
  text-transform: none;
}

.landing-page .header-wrapper .mascot {
  bottom: -16px;
  left: 90px;
}

.drawer__inner:first-child {
  isolation: isolate;
}

.drawer__inner > .compose-form {
  z-index: 10;
}

.privacy-dropdown__dropdown {
  z-index: 20;
}

.drawer__inner > .spacer {
  flex: 1;
}

.drawer__inner > .mascot {
  z-index: 0;
  flex: 0 1;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  min-height: 10em;
  a {
    color: inherit;
  }
}

.mascot .mascot-credit {
  position: absolute;
  bottom: 1em;
  right: 1em;
  margin: 0;
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black
  ;
  color: white;
  opacity: 0.8;
}

.drawer__inner {
  background-image: none;
}

@media screen and (min-width: 631px) {
  body.wide-columns .column {
    max-width: 40em;
    flex: 1 0 30em;
  }
}

body.purple-shades {
  filter: url('#purple-shades');
}

.confetti-overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.status__wrapper, .detailed-status {
  position: relative;
  overflow: hidden;
  // this prevents the confetti overlay from escaping
}

.landing-page__call-to-action {
  overflow: visible;
}

.landing-page__mascot {
  left: 0;
  height: 126px;
}

a.status-link:not(.mention) {
  text-decoration: underline;
  text-decoration-style: dotted;
  &:hover, &:active, &:focus {
    text-decoration-style: solid;
  }
}
