$ui-boost-color: $ui-highlight-color !default;
$ui-button-inactive-color: lighten($ui-base-color, 33%) !default;

@import 'application.scss';

.compose-form .button {
  text-transform: none;
}

.getting-started {
  background-image: none;
}

.getting-started.static-content {
  position: relative;
}

.getting-started .mascot-credit {
  position: absolute;
  bottom: 1em;
  right: 1em;
  margin: 0;
  text-shadow: 0 0 2px rgba(0,0,0,0.8);
}

.landing-page .header-wrapper .mascot {
  bottom: -16px;
  left: 90px;
}
